html {
    font-family: 'Helvetica Neue',Tahoma,Arial,PingFangSC-Regular,'Hiragino Sans GB','Microsoft Yahei',sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    color: #333;
    user-select: none;
    font-size: 13.33333vw;
}
body {
    background-color: #F5F5F9;
    font-size: 0.24rem;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
a {
    text-decoration: none;
    color: #333;
}
img {
    vertical-align: top;
}
ul{
    list-style: none;
}